:root{
    --color-for-btn:rgb(86, 86, 233);
}

form{
    display: flex;
}


.one-day{
    display: grid;
    grid-template-columns: 80px 80px  2fr;
    grid-template-rows: 70px 70px ;
    width: 350px;
    border: 2px solid aqua;
    
}


.one-day input{
    width: 100px;
}

.to-all-btn{
    margin-top: 18px;
    width: 120px;
    margin-left: 30px;
    background-color: var(--color-for-btn);
    color: aliceblue;
}

#sub-btn{
    width: 150px;
    height: 60px;
    background-color: var(--color-for-btn);
    margin-top: 45px;
    color: aliceblue;
}